<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.zara.mapper.CourseMapper">
	<!-- 카테고리 별 게시글 목록 -->
	<select id="selectCosList" resultType="CourseVO" parameterType="map">
		SELECT *
		FROM (SELECT rownum rnum, a.*
			  FROM (SELECT * FROM course
			  		WHERE cos_category=#{cos_category}
			  		ORDER BY cos_num DESC)A)
		WHERE rnum BETWEEN #{start} AND #{end}
	</select>
	
	<!-- 총 게시글 목록 -->
	<select id="selectList" resultType="CourseVO" parameterType="map">
		SELECT *
		FROM (SELECT ROWNUM RN, A.*
				FROM (SELECT * FROM course
					  ORDER BY cos_num DESC) A
				)
		WHERE RN BETWEEN #{start} AND #{end}
	</select>



</mapper>