<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.zara.mapper.FileMapper">

 	<!--  파일 업로드 -->
	<insert id="fileUpload" parameterType="list">
	    INSERT into files
	    (
	      fid,
	      no,
	      table_name,
	      file_name,
	      file_real_name,
	      file_path
	    )
	      
	    SELECT seq_file.NEXTVAL, A.* FROM(
	    <foreach item="item" collection="list" separator="UNION ALL " >
	        select
	        		#{item.no} as no,
	        		#{item.table_name} as table_name,
					#{item.file_name} as file_name,
					#{item.file_real_name} as file_real_name,
					#{item.file_path} as file_path
					from dual
	    </foreach>) A
	</insert>

	<!--  파일 가져오기 -->
	<select id="getFile" parameterType="map" resultType="FileVO">
		SELECT * FROM files
		WHERE NO = #{no} AND table_name=#{table_name}
	</select>
	
	<!--  파일 삭제 -->
	<delete id ="deleteFile" parameterType="map">
		delete from files
		where no = #{no} and table_name=#{table_name}
	</delete>
</mapper>