<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.zara.mapper.MemberMapper">

	<!--  로그인 성공 시 회원 정보 가져오기 -->
	<select id="getMember" parameterType="String" resultType="MemberVO">
		select m.*,a.auth from member m ,user_auth a 
		where 
			mem_id=#{mem_id} and DEL_YN ='N' and m.mem_no = a.mem_no
		
	</select>
	
	
	<!--  로그인 성공 시 마지막 로그인 일자 업데이트 하기 -->
	<update id="updateLoginDate" parameterType="long">
		update member 
		set	
			last_login = sysdate
	    where 
		    mem_no=#{mem_no} 
	</update>
	
	<!--  회원가입  -->
	
	<insert id="doRegister" parameterType="MemberVO"  useGeneratedKeys="true" keyColumn="mem_no" keyProperty="mem_no" >
	
 		insert into 
		member (
			mem_no,mem_id,mem_password,mem_name,mem_tel,
			mem_email,mem_zip,mem_road,mem_adrdetail,gender,
			create_at,update_at,last_login,del_yn,delete_at,
			mem_point,mem_type
		)
		VALUES(
			SEQ_MEMBER.nextval,
			#{mem_id},
			#{mem_password},
			#{mem_name},
			#{mem_tel},
			#{mem_email},
			#{mem_zip},
			#{mem_road},
			#{mem_adrdetail},
			#{gender},
			sysdate,
			null,
			null,
			'N',
			null,
			0,
			0
		)
	
	</insert>
	
	<!--  아이디 중복 체크  -->
	
	<select id="checkId" parameterType="String" resultType="int">
		select count(*) from member where mem_id = #{id} and del_yn='N'
	</select>
	
	<!--  회원 정보 Update 실시  -->
	<update id="doUpdate" parameterType="Map" >
		update member 
		set
			mem_password = #{change_password},
			mem_name = #{name},
			mem_tel = #{tel},
			mem_email = #{email},
			mem_zip = #{mem_zip},
			mem_road = #{mem_road},
			mem_adrdetail = #{mem_adrdetail}, 
			gender = #{gender},
			update_at = sysdate
		where 
			mem_no = #{mem_no}
	</update>
	
	<!--  회원 정보 삭제 -->
	<update id= "doDelete" parameterType = "long">
	
		update member
		set
			delete_at = sysdate,
			del_yn = 'Y'
		where mem_no = #{mem_no}

	</update>
	
	<!--  아이디 찾기 -->
	<select id="findId" parameterType="map" resultType="String">
		select mem_id from member where mem_name =#{name} and mem_tel = #{tel} and DEL_YN ='N'
	
	</select>
	
	<!-- 비밀번호 찾기 -->
	<select id="findPassword" parameterType="map" resultType="String">
		select mem_password from member where mem_id =#{id} and mem_name = #{name} and mem_tel = #{tel} and DEL_YN ='N'
	</select>
	
	<!-- 권한 넣기 -->
	<insert id="insertAuth" parameterType="long">
		insert into user_auth
		values(
			#{mem_no},
			'ROLE_USER'
		)
		
	
	</insert>
</mapper>