<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<typeAliases>
		<typeAlias type="com.project.zara.model.MemberVO" alias="MemberVO"/>
		<typeAlias type="com.project.zara.model.BoardVO" alias="BoardVO"/>
		<typeAlias type="com.project.zara.model.BoardReplyVO" alias="BoardReplyVO"/>
		<typeAlias type="com.project.zara.model.FileVO" alias="FileVO"/> 
		<typeAlias type="com.project.zara.model.ProductVO" alias="ProductVO"/> 
		<typeAlias type="com.project.zara.model.ReplyVO" alias="ReplyVO"/> 
	</typeAliases>
	
	
</configuration>